@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 239, 239);
  font-family: "Noto Sans TC", sans-serif;
}
.App {
  /* border-radius: 3px; */
}
